body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    display: block;
    margin: auto;
    border: 5px solid yellow; /* Vidljivi rub */
    background-color: white; /* Bijela pozadina */
}